body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--material-theme-sys-light-surface);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style: none !important;
}
p {
  margin: 0;
}
strong {
  color: var(--material-theme-sys-dark-secondary);
  letter-spacing: 0.1rem;
  font-weight: 500;
}
